.portfolio {
  align-self: flex-start;

  font-weight: 400;
  font-size: 18px;
  line-height: 20px;

  color: #8b8b8b;

  margin-top: 100px;
  margin-bottom: 0;
}

.portfolio__list {
  display: flex;
  flex-direction: column;

  list-style: none;

  margin-top: 50px;
  margin-bottom: 0;

  padding: 0;

  width: 100%;
}

.portfolio__item {
  border-bottom: 1px solid;
  border-color: #424242;

  min-height: 70px;
  padding: 20px 0;

  box-sizing: border-box;
}

.portfolio__item:first-of-type {
  padding-top: 0;
}

.portfolio__item:last-of-type {
  padding-bottom: 0;
  border: 0;
}

.portfolio__link {
  display: flex;
  justify-content: space-between;
  align-items: center;

  text-decoration: none;
}

.portfolio__link-text {
  font-weight: 400;
  font-size: 30px;
  line-height: 50px;

  letter-spacing: -0.04em;

  color: #fff;

  margin: 0;
}

.portfolio__icon {
  background-image: url("../../images/arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  width: 27px;
  height: 50px;
}

@media screen and (max-width: 1024px) {
  .portfolio__portfolio {
    margin-top: 90px;
  }
  .portfolio__link-text {
    font-size: 28px;
    line-height: 50px;
  }
}

@media screen and (max-width: 544px) {
  .portfolio__portfolio {
    font-size: 14px;
    line-height: 20px;

    margin-top: 70px;
  }

  .portfolio__list {
    margin-top: 40px;
  }

  .portfolio__item {
    min-height: 48px;
  }

  .portfolio__link-text {
    font-size: 18px;
    line-height: 28px;
  }
  .portfolio__icon {
    width: 18px;
    height: 10px;
  }
}
