.promo__anchors {

}

.promo__list {
  display: flex;

  gap: 0 10px;

  list-style: none;
  margin: 0;
  padding: 0;
}

.promo__list-item {
  display: block;

  padding: 10px 17px;

  background-color: #303030;

  border-radius: 10px;
}

.promo__link {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;

  color: inherit;

  text-decoration: none;
}


