.about-me {
  display: flex;
  flex-direction: column;

  align-items: center;

  box-sizing: border-box;

  width: 100%;
}

.about-me__group {
  display: flex;
  justify-content: space-between;

  width: 100%;

  margin-top: 66px;
}
.about-me__bio {
  display: flex;
  flex-direction: column;
  align-items: start;

  max-width: 600px;
}

.about-me__name {
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  letter-spacing: -0.04em;

  margin-top: 0px;
  margin-bottom: 18px;
}

.about-me__job {
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;

  margin-top: 0px;
  margin-bottom: 26px;
}

.about-me__story {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;

  margin-top: 0;
  margin-bottom: 100px;
}

.about-me__photo {
  max-width: 270px;
  max-height: 327px;

  border-radius: 10px;
}

.about-me__git {
  text-decoration: none;

  font-weight: 500;
  font-size: 14px;
  line-height: 17px;

  color: inherit;
}

.about-me__portfolio {
  align-self: flex-start;

  font-weight: 400;
  font-size: 18px;
  line-height: 20px;

  color: #8b8b8b;

  margin-top: 100px;
  margin-bottom: 0;
}

.about-me__list {
  display: flex;
  flex-direction: column;

  list-style: none;

  margin-top: 50px;
  margin-bottom: 0;

  padding: 0;

  width: 100%;
}

.about-me__item {
  border-bottom: 1px solid;
  border-color: #424242;

  min-height: 70px;
  padding: 20px 0;

  box-sizing: border-box;
}

.about-me__item:first-of-type {
  padding-top: 0;
}

.about-me__item:last-of-type {
  padding-bottom: 0;
  border: 0;
}

.about-me__link {
  display: flex;
  justify-content: space-between;
  align-items: center;

  text-decoration: none;
}

.about-me__link-text {
  font-weight: 400;
  font-size: 30px;
  line-height: 50px;

  letter-spacing: -0.04em;

  color: #fff;

  margin: 0;
}

.about-me__icon {
}
